.ShoppingCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  margin: 1vw 1vw;
  background-color: #fdfaf6;
  flex: 2;
  overflow-y: auto;
}

.ShoppingCart-header {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #1a1a1d;
}

.ShoppingCart-summary {
  background-color: #d2c1b5;
  padding: 1rem 2rem;
}

.ShoppingCart-price {
  display: flex;
  justify-content: space-between;
}

.ShoppingCart-price p {
  font-size: 1.3rem;
  margin: 0.2rem;
}

.ShoppingCart-button {
  display: flex;
  justify-content: center;
}

.ShoppingCart-button button{
  background-color: #614b3e;
  color: white;
  margin: 1rem auto;
  padding: 0.6rem 10rem;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 3px 2px black;
}

.ShoppingCart-button button:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.ShoppingCart-button button:active{
  transform: scale(1.00);
}
