.App {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #614b3e, #8c7b73);
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: 1.5rem;
}

.App-header h1 {
  margin: auto 1.5rem;
}
